.highlight {
    background-color: #F0FFFF;
}

p.side-note {
    background-color: #E8E8E8;
    padding: 1em;
}

p.side-note::before {
    content: "Side Note";
    display: block;
    font-size: 1.2em;
}

body {
    line-height: 1.5;
}