figcaption {
    color: #777777;
    text-align: center;
}

#container .email-signup-form button {
    padding: 0px;
}

a {
    color: #56466E;
    text-decoration: underline;
}

h1 a {
    text-decoration: none;
}

@media (prefers-color-scheme: dark)
{
    a {
        color: #987bc4;
    }
}
