<i>If you liked this post, consider signing up for email notifications for my next one.</i>

<div class="email-signup-form">
    <script async data-uid="0e6a31d82f" src="https://a8b-io.ck.page/0e6a31d82f/index.js"></script>
</div>

<i>The views expressed in this article are my own.</i>

{{ if not .Params.meta }}
<section class="post-nav">
    <ul>
        {{ with .PrevInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
        </li>
        {{ end }}
        {{ with .NextInSection }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
        </li>
        {{ end }}
    </ul>
</section>
  {{ if not .Params.disableComments }}
    {{ if .Site.Params.UtterancesRepo }}
        {{ partial "utterances" . }}
    {{ end }}
    {{ if .Site.DisqusShortname }}
        {{ partial "disqus" . }}
    {{ end }}
  {{ end }}
{{ end }}
