body {
    background-color: #eee;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	padding: 0px;
}

.header-wrapper {
	padding: 5%;
	background-image: url("./images/building-header.jpg");
	background-size: cover;
	background-position: center bottom;
}

.main-wrapper {
	max-width: 800px;
	margin: 0px auto;
	background-color: #FFFFFF;
	color: #3B3D42;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.content-wrapper {
	padding: 0px 5% 5% 5%;
}

.navigation a {
	font-size: 0.8em;
    text-decoration: none;
    color: #2B65EC;
    margin-right: 10px;
}

.description.small {
	font-size: 0.7em;
}

.description.small a {
	font-size: 0.7em;
}