body {
    background-color: #6C9EB5;
	font-family: Didot;
	font-size: 1em;
	padding: 0px;
	background-image: url("./images/water.jpeg");
	background-size: cover;
	background-position: center bottom;
}

.content-wrapper {
	max-width: 800px;
	margin: 0px auto;
	background-color: #FFFFFF;
	padding: 5%;
	color: #3B3D42;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

.navigation a {
	font-size: 0.8em;
    text-decoration: none;
    color: #2B65EC;
    margin-right: 10px;
}

.description.small {
	font-size: 0.7em;
}

.description.small a {
	font-size: 0.7em;
}